RESEND_API_KEY=
RESEND_EMAIL_DOMAIN=
# CONTACT_FROM_EMAIL="JZ Group Website <website@your-verified-domain.com>"
DEMOLITION_ESTIMATING_EMAIL=estimating@jzdemo.com
# CONSTRUCTION_ESTIMATING_EMAIL=
# WASTE_ESTIMATING_EMAIL=
# DEVELOPMENT_ESTIMATING_EMAIL=
